@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
/**{
	font-family: 'Fira Code', monospace;
}*/
body{
	font-family: 'Fira Code', monospace;
}
.card{
	margin-left: 2vh;
	margin-right: 2vh;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 10px;
	min-height: 25vh;
	max-height: 30vh;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: solid 2px gold;
	border-left: solid 2px gold;
	border-right: solid 2px gold;
	border-top: solid 2px gold;
	background-color: #101010;
	transition: .3s ease-in;
	max-width: 400px;
	min-width: 260px;
}
.card:hover{
	border: solid 2px #51a971;
}
.hCard{
	margin-left: 2vh;
	margin-right: 2vh;
	margin-top: 20px;
	margin-bottom: 0px;
	padding: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top: solid 2px gold;
	border-right: solid 2px gold;
	border-left: solid 2px gold;
	background-color: #23261c;
	transition: .3s ease-in;
	max-width: 400px;
	min-width: 260px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: clamp(1rem,2vw,21px);
	text-align: center;
}

.circleinpt{
	background-color: #000;
	width: ;
	/*min-width: vh;*/
	height: 5.1vh;
	outline: none;
	border: solid 2px seagreen;
	/*border-radius: 5px;*/
	/*border-bottom-left-radius: 5px;*/
	/*border-top-left-radius: 5px;*/
	font-size: 15px;
	color: white;
	border-radius: 10px;
	font-family: 'Fira Code', monospace;
}

.circleinpt:focus{
	border-color: dodgerblue;
}

.submitbtn{
	margin-left: 0px;
	font-size: 15px;
	padding: 6.5px;
	background-color: #000;
	border: 2px solid seagreen;
	/*border-radius: 10px;*/
	/*border-bottom-right-radius: 5px;*/
	/*border-top-right-radius: 5px;*/
	border-radius: 5px;
	color: white;
	margin-bottom: 10px;
	font-family: 'Fira Code', monospace;
	cursor: pointer;
}