@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
/**{
	font-family: 'Fira Code', monospace;
}*/
body{
	font-family: 'Fira Code', monospace;
}
.allCards{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	transition: .3s ease-in;
}

.card{
	margin-left: 2vh;
	margin-right: 2vh;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 10px;
	height: 200px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: solid 2px gold;
	border-left: solid 2px gold;
	border-right: solid 2px gold;
	border-top: solid 2px gold;
	background-color: #101010;
	transition: .3s ease-in;
	max-width: 400px;
	min-width: 260px;
	flex: 1;
}

.hCard{
	margin-left: 2vh;
	margin-right: 2vh;
	margin-top: 20px;
	margin-bottom: 0px;
	padding: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top: solid 2px gold;
	border-right: solid 2px gold;
	border-left: solid 2px gold;
	background-color: #23261c;
	transition: .3s ease-in;
	max-width: 400px;
	min-width: 260px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: clamp(1rem,2vw,20px);
	text-align: center;
}

.circleinpt{
	background-color: #27272a;
	/*width: ;*/
	/*min-width: vh;*/
	height: 35px;
	/*min-height: 20px;*/
	outline: none;
	border: solid 2px #e2e2e2;
	/*border-radius: 5px;*/
	/*border-bottom-left-radius: 5px;*/
	/*border-top-left-radius: 5px;*/
	font-size: 15px;
	color: white;
	border-radius: 10px;
	font-family: 'Fira Code', monospace;
	margin-bottom: 10px;
}

.circleinpt:focus{
	border-color: #89CFF0;
}

.submitbtn{
	margin-left: 0px;
	font-size: 15px;
	padding: 6.5px;
	background-color: #e2e2e2;
	border: 2px solid #e2e2e2;
	/*border-radius: 10px;*/
	/*border-bottom-right-radius: 5px;*/
	/*border-top-right-radius: 5px;*/
	border-radius: 10px;
	color: black;
	margin-bottom: 10px;
	font-family: 'Fira Code', monospace;
	cursor: pointer;
	transition: .3s ease;
	text-decoration: none;
}
.submitbtn:hover{
	background-color: #27272a;
	color: white;
}
p{
	margin-top: 10px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}