{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/peri/circle.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0">
</head>
<body>
<div class="allCards">
	<div class="mainCard">
	<h1 class="hCard">Find Circumference of Circle</h1>
	<div class="card">
		<form action="/peri/circleres" method="GET">
			<input autocomplete="off" type="number" id="myInput" name="radius" value="{{val}}" class="circleinpt" step=".000000000000000001" autofocus placeholder="Enter Radius" required onkeypress="return event.charCode >= 46 && event.charCode <= 57">
			<button type="submit" id="myBtn" class="submitbtn">Go</button>
			<a href="/peri/circle" id="myBtn" class="submitbtn">Clear</a>
			<p>Circumference of circle is : {{result}}</p>
			<p>Circumference in fraction : {{fraction}}</p>
		</form>
	</div>
	</div>

	<div class="mainCard">
	<h1 class="hCard">Find Radius/Diameter of Circle</h1>
	<div class="card">
		<form action="/peri/circleRD" method="GET">
			<input autocomplete="off" type="number" id="myInputD" name="circumference" value="{{valD}}" class="circleinpt" step=".000000000000000001" autofocus placeholder="Circumference" required onkeypress="return event.charCode >= 46 && event.charCode <= 57">
			<button type="submit" id="myBtnD" class="submitbtn">Go</button>
			<a href="/peri/circle" id="myBtnD" class="submitbtn">Clear</a>
			<p>Circumference of circle is : {{resultD}}</p>
			<p>Circumference in fraction : {{fractionD}}</p>
		</form>
	</div>
	</div>
</div>

<script>
var input = document.getElementById("myInput");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   document.getElementById("myBtn").click();
  }
});
var input = document.getElementById("myInputD");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   document.getElementById("myBtnD").click();
  }
});
</script>
</body>
{% endblock content %}