{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/peri/circle.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0">
</head>
<body>
<h1 class="hCard">Find Circumference of Circle</h1>
<div class="card">
	<form action="/peri/circleres" method="GET">
		<input type="text" name="radius" value="{{val}}" class="circleinpt" autofocus placeholder="Enter Radius" required onkeypress="return event.charCode >= 46 && event.charCode <= 57">
		<button type="submit" class="submitbtn">Submit</button><br>
		<p>Circumference of circle is : {{result}}</p>
		<p>Circumference in fraction : {{fraction}}</p>
	</form>
</div>
</body>
{% endblock content %}