{% load static %}
<!doctype html>
<html>
<head>
    <title>The Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0">
    <link rel="icon" href="{% static 'calculator.ico' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'calculator.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="icon-152.png">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="icon-196.png">
    <style type="text/css">
        
        body{
            background: #1f2126;
        }
    </style>
</head>
<body>
    {% include "navbar.html" %}
    {% block content %}
    {% endblock %}
    </body>
</html>